<h3>Паттерны:</h3>
<div class="main-block">
    <div class="purchase-main-block">
        <div>
            <p>Обновите категории после любых изменений!!!!!!!!!!</p>
            <button class="btn btn-default" ng-click="update()">Обновить категории</button>
            <button class="btn btn-default" ng-click="openPatternDialog()">Добавить паттерн</button>
            <button class="btn btn-default" ng-click="openCategoryDialog()">Добавить категорию</button>
            <button class="btn btn-default" ng-click="openDeleteCategoryDialog()">Удалить категорию</button>
            <div class="help-block" style="color:#a94442;">
                <p ng-show="updFailed">При обработке запроса произошла ошибка.</p>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-1">ОКПД 2 паттерн</th>
                <th class="col-md-5">Категории</th>
                <th class="col-md-1"></th>
                <th class="col-md-5"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pattern in patterns">
                <td><span title="{{pattern.pattern}}">{{pattern.pattern}}</span></td>
                <td>
                    <p ng-repeat="category in pattern.categories">
                        <a href="#/category/{{category.id}}">{{category.name}}
                        </a>
                    </p>
                </td>
                <td>
                    <p ng-repeat="category in pattern.categories">
                        <button class="btn btn-xs btn-danger glyphicon glyphicon-minus" ng-click="remove(pattern, category.id)"></button>
                    </p>
                </td>
                <td>
                    <div>
                        <select id="category_selector" class="form-control" ng-model="pattern.category" title="category">
                            <option ng-repeat="category in categories" value="{{category.id}}">
                                {{category.name}}({{category.purchaseCount}})
                            </option>
                        </select>
                        <button class="btn btn-xs btn-primary glyphicon glyphicon-plus" ng-click="add(pattern,pattern.category)"></button>
                        <button class="btn btn-xs btn-danger glyphicon glyphicon-remove" ng-click="deletePattern(pattern.id)"></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
