<div>
    <div class="modal-header">
        <h4 class="modal-title">Удалить категорию</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline form" name="patternForm" novalidate ng-submit="submit()">
            <div>
                <label>Категория
                <select id="category_selector" class="form-control" ng-model="category" title="category">
                    <option ng-repeat="category in categories" value="{{category.id}}">
                        {{category.name}}({{category.purchaseCount}})
                    </option>
                </select>
                </label>
            </div>
            <br>
            <button class="btn btn-danger" type="submit" ng-disabled="patternForm.pattern.$invalid">
                Удалить
            </button>
            <button class="btn btn-primary" type="button" ng-click="closeDialog()">Закрыть</button>
            <div class="help-block" style="color:#a94442;">
                <p ng-show="failed">Неудлось удалить категорию(Категория должна быть пустой).</p>
                <p ng-show="success" style="color:green">Категория удалена.</p>
            </div>
        </form>
    </div>
</div>