<div>
    <div class="modal-header">
        <h4 class="modal-title">Новая категория</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline form" name="patternForm" novalidate ng-submit="submit()">
            <div>
                <label>Категория</label><br>
                <input class="form-control" required name="pattern" type="text" ng-model="category"/>
            </div>
            <br>
            <button class="btn btn-primary" type="submit" ng-disabled="patternForm.pattern.$invalid">
                Добавить
            </button>
            <button class="btn btn-primary" type="button" ng-click="closeDialog()">Закрыть</button>
            <div class="message-block" style="color:#a94442;">
                <p ng-show="failed">Неудлось добавить категорию.</p>
                <p ng-show="success" style="color:green">Категория добавлена.</p>
            </div>
        </form>
    </div>
</div>