.purchase-main-block{
    padding: 5px 10px 15px;
    background-color: #ffffff;
    border: 1px solid #E3E3E3;
    border-radius:  0 0 15px 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.grey-line{
    width: 100%;
    height: 2px;
    background-color: #d9d9d9;
    margin-bottom: 10px;
}
.grey-line-sm{
    margin-top: 2px;
    margin-bottom: 3px;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
}
body {
    margin: 15px 30px;
    color: #545454;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 150%;
}

.nav li a {
    padding: 5px 5px;
}
.reg-block{
    min-height: 40px;
    padding: 10px 15px 10px 15px;
    background-color: #ffffff;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.reg-block .ctrl{
    height: 30px;
}
.main-block{
    margin-top: 10px;
    padding: 5px;
    background-color: #EAEAEA;
    border: 1px solid #E3E3E3;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.detail-item {
    padding: 10px 10px 1px;
    background-color: #ffffff;
    border-radius:  0 0 15px 15px;
}
.detail-select{
    margin: 10px 10px 0 0;
}
.detail-select-item{
    padding: 10px 0;
    background-color: #EAEAEA;
    border-radius: 7px 7px 0 0;
    text-align: center;
    font-size: 14px;
}
.detail-select-item-round{
    padding: 10px 0;
    background-color: #ffffff;
    border-radius: 7px 7px 7px 7px;
    text-align: center;
    font-size: 14px;
}
.detail-select-item-selected{
    padding: 10px 0;
    background-color: #ffffff;
    border-radius: 7px 7px 0 0;
    text-align: center;
    font-size: 14px;
}
#category-list{
    background-color: #EAEAEA;
    margin-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #E3E3E3;
    border-radius: 0 0 15px 15px;
}
#pagination{
	width: 450px;
	height: 20px;
  	display: block;
 	margin-left: auto;
  	margin-right: auto;
}
#category_selector{
    display: inline !important;
    width: 80%;
}
#contact_info{
	background-color: #f7f7f7;
	padding: 20px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 8px;
    padding-left: 8px;
}
.container-fluid {
	padding-top: 5px;
	padding-bottom: 10px;
}
#log_in{
	margin-top:10px;
}
.form{
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}
.archive{
    margin-left: 20px;
}
.xml_file{
    margin-left: 40px;
}
/* */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

form {
    margin: 0;
}

.hls {
    color:#DA251D;
}

.finger {
    cursor: pointer;
}

.submenu {
    font-size: 11px;
    line-height: 180%;
}

.stat1{
    background: white;
    border: 1px solid gray;
}

.bg-laucbut2 {
    background: url(../img/bg-auc-lb2.gif) no-repeat left top;
}

.bg-raucbut2 {
    background: url(../img/bg-auc-rb2.gif) no-repeat right top;
}

.bg-aucbot2 {
    background: url(../img/bg-auc-b2.gif) repeat-x left center;
}
.butt_ok {
    background: url(../img/i-enter.gif);
    display: block;
    width: 21px;
    height: 21px;
}
.butt_ok:hover {
    background: url(../img/i-enter-2.gif);
}

.atabl a{
    border-bottom: 1px dashed;
    color: #007cbc;
    font-size: 1em;
    text-decoration: none;
}

.atabl a:hover{
    border:0;
    text-decoration: none;
}


.about {
    font-size: 14px;
    line-height: 140%;
}

.menu {
    font-size: 14px;
    padding: 15px 0;
}
.date {
    line-height: 115%;
    font-size: 11px;
    padding: 9px 0 0;
    color: #808080;
}
.docs {
    padding: 10px 0 2px;
}
.auct {
    border: 1px solid #999;
    padding: 3px 5px;
    color: #DA251D;
    background-color: #FFFFFF;
    margin-right: 15px;
    position: relative;
}
.star {
    padding-left: 5px;
    padding-right: 4px;
    color: #DA251D;
    font-size: 13px;
}
.temp {
    border: 1px solid #DA251D;
    padding: 1px 4px;
    color: #DA251D;
}
.stat {
    line-height: 145%;
    font-size: 13px;
    padding: 9px 0 0;
    color: #545454;
}
.category{
    margin: 5px 0;
}
.small {
    font-size: 11px;
}
.big {
    font-size: 29px;
    padding: 0 0 20px;
    color: #545454;
}
.prot {
    font-size: 18px;
    padding: 25px 0 5px 7px;
}
.protext {
    padding: 0 0 0 7px;
}
.regtit {
    font-size: 18px;
    padding: 20px 0 5px;
}
.regbig {
    font-size: 23px;
    padding: 30px 0 20px;
}
.newstitle {
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0 3px;
}

.prottitle {
    font-size: 14px;
    font-weight: bold;
    color: #da251d;
    text-transform: uppercase;
}

.subtitle {
    font-size: 23px;
    padding: 7px 0 20px;
    color: #545454;
}
.red {
    color: #da251d;
}
.all {
    font-size: 12px;
    padding: 11px 0 0;
    color: #545454;
}
.summ {
    padding: 5px 0 5px 16px;
}
.newssumm {
    padding: 15px 0;
}
.summ2 {
    padding: 15px 0 15px 16px;
}
.summ3 {
    padding: 15px 5px 15px 0;
}
.alls {
    font-size: 12px;
    padding: 9px 0 0;
    color: #545454;
}
a.sall:link, a.sall:visited {
    text-decoration: underline;
    color: #da251d;
    font-size: 12px;
    padding: 9px 0 0;
}
a.sall:hover {
    text-decoration: none;
    color: #da251d;
    font-size: 12px;
    padding: 9px 0 0;
}

a.ex:link, a.ex:visited {
    text-decoration: underline;
    color: #da251d;
    font-size: 15px;
}
a.ex:hover {
    text-decoration: none;
    color: #da251d;
    font-size: 15px;
}

.redprot {
    color: #da251d;
    font-size: 13px;
    font-weight: bold
}

.active-pr {
    font-size: 13px;
    font-weight: bold
}

a.pr:link, a.pr:visited {
    text-decoration: underline;
    font-size: 13px;
    font-weight: bold
}
a.pr:hover {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold
}
.btitle {
    font-size: 16px;
    padding: 10px 0 0;
    font-weight: bold;
}
.cabtitle {
    font-size: 16px;
    padding: 30px 0 0;
    font-weight: bold;
    color: #da251d;
}
.cabtitle2 {
    font-size: 16px;
    padding: 10px 0 0;
    font-weight: bold;
    color: #da251d;
}
.cabtext {
    font-size: 12px;
    padding: 7px 0 15px;
}
.best {
    font-size: 14px;
    font-weight: bold;
    color: #da251d;
}
.regrez {
    padding: 10px 20px;
    border: 1px solid #da251d;
    margin-top: 10px;
}
.stitle {
    font-size: 16px;
    padding: 10px 0 0;
    font-weight: bold;
    color: #da251d;
}
.search-block {
    padding: 5px 14px 0 16px;
    line-height: 135%;
}
.auctblock {
    padding: 7px 3px 10px 8px;
}
.statblock {
    padding: 12px 14px 0 22px;
    line-height: 135%;
}
.bg-lbut {
    background: url(../img/bg-b-l.gif) no-repeat left top;
}
.bg-rbut {
    background: url(../img/bg-b-r.gif) no-repeat right top;
}

.bg-laucbut {
    background: url(../img/bg-auc-lb.gif) no-repeat left top;
}

.bg-raucbut {
    background: url(../img/bg-auc-rb.gif) no-repeat right top;
}

.bg-lpaucbut {
    background: url(../img/bg-aucb-lb.gif) no-repeat left top;
}

.bg-rpaucbut {
    background: url(../img/bg-aucb-rb.gif) no-repeat right top;
}

.bg-top {
    margin-bottom: 10px;
    background-image: url(../img/bg-mol.jpg);
    background-repeat: repeat-x;
    background-position: left center;
    width: 100%;
    height: 100px;
    background-color: #ec6737;
    border-radius: 0 0 15px 15px;
}
.bg-tab {
    background: url(../img/mol.png) no-repeat left center;
}

.bg-rt {
    background: url(../img/bg-r-t.gif) repeat-x left center;
}

.bg-rb {
    background: url(../img/bg-r-b.gif) repeat-x left center;
}

.bg-rl {
    background: url(../img/bg-r-l.gif) repeat-y center center;
}

.bg-rr {
    background: url(../img/bg-r-r.gif) repeat-y center center;
}

.bg-ab {
    background: url(../img/bg-a-b.gif) repeat-x left center;
}

.bg-al {
    background: url(../img/bg-a-l.gif) repeat-y center center;
}

.bg-aucbot {
    background: url(../img/bg-auc-b.gif) repeat-x left center;
}

.bg-aucl {
    background: url(../img/bg-auc-l.gif) repeat-y left top;
}

.bg-aucr {
    background: url(../img/bg-auc-r.gif) repeat-y left top;
}

.bg-ar {
    background: url(../img/bg-a-r.gif) repeat-y center center;
}

.bg-btop {
    background: url(../img/bg-b-top.gif) repeat-x left top;
}

.bg-bbtop {
    background: url(../img/bg-bb-top.gif) repeat-x left top;
}

.bg-lbb {
    background: url(../img/bg-bb-l.gif) no-repeat left top;
}
.bg-rbb {
    background: url(../img/bg-bb-r.gif) no-repeat right top;
}

a.anons:link, a.anons:visited {
    font-size: 19px;
    text-decoration: underline;
    color: #da251d;
    line-height: 40px;
}
a.anons:hover {
    font-size: 19px;
    text-decoration: none;
    color: #da251d;
    line-height: 40px;
}

a.podp {
    display:block;
    background: url(../img/b-podp-1.gif) no-repeat;
    width:255px;
    height:64px;
}

a.podp:active {
    background-image:url(../img/b-podp-2.gif);
}

.finput {
    width: 135px;
    height: 20px;
}
.sinput {
    width: 270px;
    height: 13px;
}
.rinput {
    width: 99%;
    height: 13px;
}
.reginput {
    width: 96%;
    height: 13px;
}
.newinput {
    width: 100%;
    height: 13px;
}
.zinput {
    width: 567px;
    height: 13px;
}
li {
    margin-bottom: 6px;
}
#search-top{
    height: 15px;
    background-color: #EAEAEA;
}
#search-bot{
    height: 24px;
    background-image: url(../img/bg-news.gif);
}
a:link {
    color: #006fa8;
}
a:visited {
    color: #2f8cba;
}
a:active {
    color: #2f8cba;
}

a {
    color: #007cbc;
    text-decoration: underline;
    font-size: 12px;
}

a:hover {color: #006fa8; text-decoration: none;}

a.reg:link, a.reg:visited{
    text-decoration: underline;
    color: #da251d;
    font-size: 12px;
}
a.reg:hover {
    text-decoration: none;
    color: #da251d;
    font-size: 12px;
}
#login-alert{
    position:absolute;
    right:40px;
    top:110px;
    color:#a94442;
}
#login_block{
    top:20px;
    right:50px;
    position: absolute;
}
#logout_block{
    top:30px;
    right:50px;
    position: absolute;
}
#searchText{
    width: 100%;
    margin-bottom: 5px;
}
.centered{
    display: table;
    margin: 0 auto;
}
#input_block input {
    width: 65%;
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
#first_row input{
    width: 93%;
}
#search-form{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0 0 15px 15px;
    border: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05) inset;
}
#search-form .row{
    padding-bottom: 10px;
}
.calendar-btn{
    padding: 2px 15px;
    height: 24px;
}
#second-row-first{
    width: 51%;
}
#second-row-first input{
    width: 40%;
}
#second-row-second input{
}
.search-title{
    font-weight: bold;
    color: #da251d;
}
.purchase-table-body{
    background-color: #ffffff;
}
.purchase-table-pagination{
    padding: 15px;
    background-color: #ffffff;
    border-radius:  0 0 15px 15px;
}
#purchase_table{
    margin-bottom: 0;
}
#purchase_table th{
    font-size: 12px;
}
th {
    text-align: left;
}
td {
    text-align: left;
}
#separator{
    width: 100%;
    height:3px;
    background-color:#808080;
    margin: 20px 0;
}